.maindivofdashboard {
  font-family: "poppins" !important;
  background: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titledivdashboard {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.563);
  border: none;
  border-radius: 10px;
  margin-top: 120px;
}

.content {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 15px;
  margin: 10px !important;
}

.heading{
  font-weight: 700;
  font-size: 2.2rem;
  background: -webkit-linear-gradient(#00ffff, #5fffbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

.tableWrapper::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  margin-right: 0;
}
.tableWrapper::-webkit-scrollbar-thumb {
  background: #9657eb;
}
.tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tableWrapper {
  margin: 50px 0px 10px 0px;
  min-height: 250px;
  max-height: 370px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4), 0 7px 13px -3px rgba(0, 0, 0, .3), inset 1px 0 0 rgba(0, 0, 0, .2);
  -webkit-backdrop-filter: blur(30.5px);
  backdrop-filter: blur(30.5px);
  background: transparent;
  border-radius: 20px;
  overflow: scroll;
}

.tableWrapper table {
  border-spacing: 0;
  width: 100%;

}

.tableWrapper thead {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #999999;
}


.tableWrapper tbody {
  height: 300px;
  overflow: scroll;
  font-size: 15px;

}
.tableWrapper tbody tr:hover {
  background: rgb(51 53 103 / 24%);
}
.tableWrapper td {
  padding: 17px 10px;
  white-space: nowrap;
  border-bottom: 1px solid rgb(51 53 103 / 24%);
}

.tableWrapper th {
  padding: 17px 10px;
  white-space: nowrap;
  border-bottom: 1px solid rgb(51 53 103 / 24%);
}

.tableWrapper tr:last-child td {
  border-bottom: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10000;
  background: linear-gradient(160deg,#181a53 47%,#2e0d5a);
}





.gobackbtn:hover {
  cursor: pointer;
  background-color: #ffffff3c;
  color: white;
}
.linkto:hover {
  color: white;
  text-decoration: none;
}
.linkto {
  text-decoration: none;
}

.refreshbtn:hover {
  cursor: pointer;
}

.refreshbtn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}

.button1, .button2 {
  z-index: 1;
  position: fixed;
  right: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.button1{
  bottom: 50%;
}
.button2{
  bottom: 42%;
}

.button1 a, 
.button2 a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  transition: all 1.2s;
}

.button1 a:hover,
.button2 a:hover {
  color: black;
  background-color: #00ffff;
  transform: translate(0px, 0px);
  font-weight: 600;
}

.Instagra{
  background-color: #19153f;
  color: white;
  margin-left: 10px;
  font-weight: 600;
}

.dashbgImg1 {
  width: 347.141px;
  height: 321.106px;
  transform: rotate(-61.16deg);
  flex-shrink: 0;
  position: absolute;
  left: -13%;
  font-family: "poppins" !important;
  font-weight: 100;
  right: 24%;
  opacity: 0;
}

.dashbgImg2 {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  position: absolute;
  bottom: -288px;
  right: 0;
  opacity: 0;
}


.maindivforalloptiondashboard {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.displaytable {
  width: 100%;
  padding: 0px;
  border: 1px solid white;
  border-radius: 27px 27px 0px 0px;
}

.displayheader {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.displayheader:first-child {
  border-radius: 25px 0px 0px 0px;
}

.displayheader:last-child {
  border-radius: 0px 25px 0px 0px;
}

.displaycell {
  font-size: 14px;
  padding: 8px;
}

/* .displayevenrow:hover {
  background-color: #19030310;
}

.displayevenrow {
  border-bottom: 1px solid white;
}

.displayoddrow:hover {
  background-color: #1903030d;
}
.displayoddrow {
  border-bottom: 1px solid white;
} */

.displayupdatebutton,
.displayeditbutton,
.displaydeletebutton {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.displayupdatebutton:active,
.displayeditbutton:active,
.displaydeletebutton:active {
  background-color: #0909094e;
}
.deleteicon:hover {
  color: red;
}

.editinput {
  background-color: rgba(0, 0, 0, 0.206);
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.displaydatatablewrapper {
  z-index: 2;
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.displaydatatablewrapper::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.displaydatatablewrapper::-webkit-scrollbar-track {
  background: #f1f1f12f;
}

.displaydatatablewrapper::-webkit-scrollbar-thumb {
  background: #6960ef;
  border-radius: 5px;
}

.displaydatatablewrapper::-webkit-scrollbar-thumb:hover {
  background: #6960ef;
}

@media only screen and (max-width: 1032px) {
  .maindivforalloptiondashboard {
    max-width: 700px;
  }
}


@media only screen and (max-width: 778px) {
  .button {
    width: 40%;
  }

  .button a {
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 20px;
  }

  .heading{
    font-size: 1.7rem;
  }

  .content{
    font-size: 12px;
  }

  .displaydatatablewrapper {
    z-index: 2;
    position: relative;
  }

  .displaytable {
    width: 90%;
    margin: auto;
  }

  
  .maindivforalloptiondashboard {
    max-width: 600px;
  }

  .displayheader {
    font-size: 14px;
  }

  .displaycell {
    font-size: 12px;
  }

  /* .displayupdatebutton,
  .displayeditbutton,
  .displaydeletebutton {
    font-size: 17px;
  } */
}

.custom-toast {
  background-color: #6960ef !important;
}

.custom-toast-body {
  background-color: #6960ef !important;
}

.Toastify__toast-body {
  background-color: #6960ef !important;
}

@media screen and (max-width:550px) {
  .titledivdashboard{
    width: 80%;
    margin: 130px auto 0px;
  }
  .heading{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 435px) {
  .maindivofdashboard {
    height: auto;
    width: 100%;
    margin-bottom: auto;
  }

  .maindivforalloptiondashboard {
    max-width: 350px;
  }

  .displayheader {
    font-size: 10px !important;
  }
  .displaycell {
    font-size: 9px !important;
    padding: 2px !important;
  }

  .displaycellbuttons {
    display: flex !important;
    padding: 0px !important;
  }

  /* .displayupdatebutton,
  .displayeditbutton,
  .displaydeletebutton {
    font-size: 12px !important;
  } */

  .button {
    width: 40%;
  }

  .button a {
    border-radius: 30px;
    gap: 5px;
    font-size: 8px;
    padding: 8px 10px;
  }
}

@media screen and (max-width:360px) {
  .titledivdashboard{
    width: 80%;
    margin: 130px auto 0px;
  }
  .heading{
    font-size: 16px;
  }
  .content{
    font-size: 9px;
  }
}