.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdownHeader {
  padding: 15px 20px;
  /* border: 1px solid #9747ff; */
  background-color: #49058e91;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 63px;

  width: 280px;
  overflow: hidden; /* Optional: ensures child elements do not overflow the rounded corners */
}

.dropdownHeader:hover {
  box-shadow: rgb(255 255 255 / 72%) 1px 1px 18px 0px inset;
  /* border: 1px solid #8d37fb; */
}

.selectedItem {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.dropdownList {
  position: absolute;
  top: 110%;
  padding: 10px;
  left: 0;
  width: -webkit-fill-available;
  background-color: #4a058ee1;
  border: 0.5px solid #ffffff;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(35px);
}

.dropdownItem {
  padding: 15px;
  display: flex;
  align-items: center;
  /* border-bottom: 0.5px solid #ffffff; */
  border-radius: 10px;
}

.dropdownItem:hover {
  background-color: white;
  color: #8d37fb;
  border-radius: 10px;
}

.dropdownIcon {
  margin-left: 8px;
  margin-top: 1px;
  font-size: 12px;
}

@media only screen and (max-width: 768) {
  .dropdownHeader {
    min-width: 150px !important;
    font-size: 13px;
  }

  .dropdownIcon {
    font-size: 9px;
  }
}
@media only screen and (max-width: 425px) {
  .dropdownHeader {
    min-width: 140px !important;
    font-size: 13px;
  }

  .dropdownIcon {
    font-size: 7px;
  }
}
