.importtokendiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px 20px; */
}
.maindivsamecreatelist {
  border-radius: 47px;
  border: 1px solid #fff;
  background: black;
  -webkit-backdrop-filter: blur(30.5px);
  backdrop-filter: blur(30.5px);
  margin-bottom: 50px;
}

.listdropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #49058e91;
  color: white;
  border-bottom: 1px solid #ddd;
}

.listdropdown {
  position: absolute;
  left: 45%;
  top: 59%;
  background-color: #f9f9f9f9;
  /* border-radius: 5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}

.listdropdown::-webkit-scrollbar {
  width: 1px;
}

.listdropdown::-webkit-scrollbar-thumb {
  background-color: #5007e3;
  border-radius: 1px;
}
.listAccSum {
  width: fit-content;
  font-size: 12px;
  margin: 0 auto;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  transform: translate(-50%, -50%);
  animation: zoomAnimation 1s infinite alternate;
}
@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.maindivsamecreatelist {
  border-radius: 47px;
  border: 1px solid #fff;
  background: linear-gradient(
    101deg,
    rgba(255, 255, 255, 0.31) 1.58%,
    rgba(255, 255, 255, 0.03) 98.15%
  );
  -webkit-backdrop-filter: blur(30.5px);
  backdrop-filter: blur(30.5px);
  margin: 50px 0px;
}

.maindivsamecreatelist {
  border-radius: 47px;
  border: 1px solid white;
}
.addlistfix {
  width: 70% !important;
  margin: 0 auto;
  /* margin-left: 45% !important; */
}
.userformforlistoption {
  color: white;
}
.userformforlist {
  padding: 5px 0px;
}

#whitecolor {
  color: white;
}

.showtokentable {
  /* border: 1px solid #07beb8; */
  width: 100%;
  margin: 5px 0px;
  border-collapse: collapse;
}

.showtokentableth,
.showtokentabletd {
  border: 1px solid 07beb8;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}

.userformforlistoption {
  color: black;
}

.eachinputofcreatelist::placeholder {
  color: rgba(255, 255, 255, 0.542);
}

.eachinputofcreatelist.tokeninput {
  border-radius: 5px;
  border: 1px solid #9d79ff;
  background: transparent;
  color: white;

  padding: 15px 20px;
  margin: 0px 20px;
}
.tabletextlist {
  width: 100%;
  border-collapse: collapse;
}

.inputflexlist {
  display: flex;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
.inputflexlist label {
  width: 25%;
  text-align: start;
  letter-spacing: 1px;
}
.input-flex-list input {
  width: 40%;
  letter-spacing: 1px;
}
.userformforlist {
  padding: 25px 0px;
  border-radius: 15px;
}

.buttontoaddformdata:hover {
  box-shadow: rgba(238, 242, 243, 0.553) 0px 5px 15px;
}
.buttontoaddformdata {
  cursor: pointer;
  padding: 15px 40px;
  background-color: #49058e91;
  color: white;
  border: 1px solid white;
  border-radius: 63px;
  margin: 0px 20px;
  font-size: 17px;
}

.buttontoaddformdataunload {
  cursor: pointer;
  padding: 15px 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 63px;
  margin: 0px 20px;
  font-size: 17px;
}
.buttontoaddformdataunload:hover {
  box-shadow: rgba(238, 242, 243, 0.553) 0px 5px 15px;
}

.deletebutton:hover {
  cursor: pointer;
  opacity: 1;
  /* border-color: red; */
  /* background-color: rgba(0, 213, 255, 0.019); */
}

.deletebutton {
  color: white;
  opacity: 0.4;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
}

.divtoaddthetx {
  margin: 10px 0px;
  justify-content: center;
  display: flex;
  margin-bottom: 55px;
  border-radius: 10px;
  flex-direction: column;
}

.stepstogetausdc {
  margin-top: 15px;
}
.stepstogetausdca {
  color: white;
  text-decoration: none;
}
.stepstogetausdcbutton {
  background-color: #0c3d77;
  width: 100%;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 20px;
}
.scrollabletable {
  margin-top: -15px;
  max-height: 230px;
  overflow: auto;
}

.divtoaddthetx table {
  width: 100%;
  border-collapse: collapse;
}

.divtoaddthetx table th {
  text-align: center;
  /* background-color: #0C3D77; */
  /* border: 1px solid #ddd; */
  padding: 2px;
}

#borderblue {
  border: 1px solid #0c3d77 !important;
}

.selectloadtokentitle h2 {
  border-radius: 47px 47px 0px 0px;
  font-size: 12px;
  background-color: white;
  color: #8f00ff;
  padding: 5px 0px;
  /* margin-bottom: 35px; */
}

.tableheadertextlist {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.accountsummartth {
  padding: 8px;
  text-align: center;
}

.accountsummarycreatetitle {
  font-size: 12px;
  color: #8f00ff;
  background-color: white;
}

.viewaddressdivtitle {
  font-size: 12px;
  background-color: white;
  color: #8f00ff;
  margin-bottom: -19px;
  padding: 5px 0px;
}

.enteraddressdivtitlee {
  font-size: 12px;
}

.enteraddressdivtitle {
  background: rgb(24, 26, 83);
  background: linear-gradient(
    160deg,
    rgba(24, 26, 83, 1) 47%,
    rgba(46, 13, 90, 1) 100%
  );
  font-weight: 200;
  line-height: 154.1%;
  letter-spacing: 1.04px;
  padding: 5px 0px;
  /* border-radius: 47px 47px 0px 0px; */
  font-size: 12px;
  /* margin-bottom: 35px; */
}

.divtoaddthetx table th:first-child {
  border-radius: 30px 0px 0px 30px;
}

.divtoaddthetx table th:last-child {
  border-radius: 0px 30px 30px 0px;
}

.divtoaddthetx table td {
  text-align: center;
  padding: 10px;
}

.scrollabletable {
  max-height: 300px;
  overflow: auto;
}

.scrollabletablecontainer {
  overflow: auto;
  scrollbar-width: none;
  margin: 50px 20px;
  border: 1px solid #8d37fb;
  border-radius: 20px;
}
.scrollabletablecontainerTbody {
  border: 1px solid #8d37fb;
  border-radius: 20px;

  max-height: 315px;
  overflow: auto;
  scrollbar-width: none;
}
.scrollabletablecontainerTbody::-webkit-scrollbar {
  width: 3px;
  margin-right: 0;
}
.scrollabletablecontainerTbody::-webkit-scrollbar {
  height: 3px; /* Set the height of the horizontal scrollbar */
}
.scrollabletablecontainerTbody::-webkit-scrollbar-thumb {
  background: #ffffff;
}
.scrollabletablecontainerTbody::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sendbutton:hover {
  cursor: pointer;
  border: 1px solid white;
  color: #8d37fb;
  background: #fff !important;
  box-shadow: 0 0 14px 0 #fff;
}
.sendbutton {
  padding: 5px 35px;
  border: 1px solid white;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  /* width: max-content; */
  line-height: 37px;
  letter-spacing: 1px;
  text-align: center;
  margin: 50px 0px;
  color: white;
  cursor: pointer;
  border-radius: 40px;
}

.blurredbackground {
  filter: blur(1px);
}

.popupforpayment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
  padding: 20px;
  border-radius: 30px;
  color: white;
  padding: 30px 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.popupforpaymentp {
  text-align: center;
  letter-spacing: 1px;
}

.popupforpaymenth2 {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Styling the close button in the popup */
.popupforpaymentbutton {
  border: 1px solid #1bff76;
  background: transparent;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.popupforpaymentbutton:hover {
  border: none;
  color: #070707;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
}

.divinsamecreatelisttokenload {
  margin: 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 1px 0px 0px inset;
  -webkit-backdrop-filter: blur(30.5px);
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
}

.divtocenter {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.customselect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  background-color: transparent;
  color: white;
}

.divtokeninputs {
  display: flex;
  justify-content: center;
  /* margin-bottom: 25px; */
  padding: 30px 20px;
}

.customselectoption {
  background-color: black;
  color: white;
}

.customselectoption:checked {
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.inputflexlist {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.inputflexlist input {
  letter-spacing: 1px;
  width: 40%;
}
.inputflexlist label {
  letter-spacing: 1px;
  text-align: start;
  width: 25%;
}

.inputflexlist button {
  cursor: pointer;
  padding: 15px 40px;
  background: linear-gradient(
    90deg,
    rgba(102, 43, 187, 0.37) 0%,
    rgba(62, 18, 124, 0.37) 100%
  );
  color: white;
  border: 1px solid white;
  border-radius: 63px;
  margin: 0px 20px;
  font-size: 17px;
  margin-left: 70px;
}

.inputflexlist button:hover {
  box-shadow: rgb(255 255 255 / 72%) 1px 1px 18px 0px inset;
}

.popupforpayment {
  background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
  border-radius: 30px;
  box-shadow: 0 0 10px #0000001a;
  color: #fff;
  left: 50%;
  padding: 30px 150px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.popupforpayment h2 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.popupforpayment p {
  letter-spacing: 1px;
  text-align: center;
}
.popupforpayment button {
  background: #0000;
  border: 1px solid #1bff76;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
}
.popupforpayment button:hover {
  border: none;
  color: #070707;
  background: linear-gradient(269deg, #0ff 2.32%, #1bff76 98.21%);
}
.selectloadtokentitle {
  border-radius: 47px 47px 0px 0px;
  background: #fff;
  padding: 5px 0px;
  font-size: 12px;
}
.addMain {
  padding: 40px 20px;
}

@media screen and (max-width: 1170px) {
  .inputflexlist label {
    width: 30%;
  }

  .inputflexlist button {
    margin-left: 120px;
  }
}

@media screen and (max-width: 930px) {
  .inputflexlist label {
    width: 40%;
  }
  .inputflexlist input {
    width: 45%;
  }
  .inputflexlist button {
    margin-left: 160px;
  }
}

@media only screen and (max-width: 770px) {
  .listdropdown {
    position: absolute;
    left: 8%;
    top: 52%;
  }
}

@media (max-width: 768px) {
  .viewaddressdivtitleh2 {
    font-size: 15px !important;
  }

  .inputflexlist {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }
  .inputflexlist label {
    width: 80%;
  }
  .inputflexlist input {
    width: 80%;
  }
  .inputflexlist button {
    margin-left: 20px;
  }
  .each-input-of-create-list.token-input {
    width: 90% !important;
  }
.each-input-of-create-list.token-input {
    width: 90% !important;
  }

  .userformforlist {
    width: 100%;
  }

  .buttontoaddformdata {
    width: fit-content;
  }

  .scrollabletablecontainer {
    max-height: 200px;
  }

  .selectloadtokentitle {
    border-radius: 47px 47px 0px 0px;
    background: #fff;
    padding: 5px 0px;
    font-size: 12px;
  }

  .divtokeninputs {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    flex-direction: row !important;
    align-items: center;
  }

  .enteraddressdivtitleh2 {
    font-size: 15px !important;
  }
  .sametextmain {
    color: #8f00ff;
    padding: 40px 20px;
    font-size: 15px !important;
  }
  .fontsize12px {
    font-size: l "15px";
  }
}
@media only screen and (max-width: 600px) {
  .importtokendiv {
    flex-direction: column;
  }
  .sametextmain {
    display: flex !important;
    flex-direction: column !important;
  }
  .tableTd {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 520px) {
  .inputflexlist label {
    width: 100%;
  }
  .eachinputofcreatelist {
    width: 100% !important;
  }
  .buttontoaddformdata {
    width: 55% !important;
  }
}
@media only screen and (max-width: 425px) {
  .tableheadertextlist {
    font-size: 15px !important;
  }
  .tableTd {
    font-size: 12px;
  }
  .orrr {
    margin: 10px 0px;
  }
  #addtolistbuttonid {
    /* width: 80% !important; */
    /* margin: 10px 0px !important; */
  }

  .accountsummaryh2 {
    font-size: 15px !important;
  }
  .maindivsamecreatelist {
    margin: 10px;
  }
  .sendbuttindiv {
    display: flex;
  }
  .viewaddressdivtitleh2 {
    font-size: 15px !important;
  }
  #fontsize10px {
    font-size: 12px !important;
  }

  #inputtokenload {
    width: auto;
    margin: 10px 20px !important;
  }

  #tableresponsive {
    max-height: 400px;
    overflow: visible;
    overflow-x: scroll;
  }

  .fontsize12px {
    font-size: 12px !important;
  }
  .popupforpayment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%);
    padding: 20px;
    border-radius: 30px;
    color: white;
    width: 85%;
    padding: 30px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .sendbutton {
    padding: 5px 35px;
    border: 1px solid white;
    background: transparent;
    font-size: 12px;
    font-weight: 700;
    /* width: max-content; */
    line-height: 37px;
    letter-spacing: 1px;
    text-align: center;
    /* margin: 10px 400px; */

    color: white;
    margin-bottom: 35px;
    border-radius: 40px;
  }
  .divtokeninputs {
    display: flex;
    padding: 30px 20px;
    flex-direction: column !important;
    align-items: center;
  }
  .buttontoaddformdata {
    width: -moz-fit-content;
    width: fit-content;
  }
  .buttontoaddformdata {
    font-size: 15px;
    width: -moz-fit-content;
    /* width: 100% !important; */
    width: auto;
    padding: 13px 35px;
  }
  .sametextmain {
    color: #8f00ff;
    font-size: 15px !important;
  }
  .titleinline {
    font-size: 15px !important;
  }
  /* table {
    font-size: 15px;
  } */

  .enteraddressdivtitlelabel {
    letter-spacing: 1px;
    text-align: start;
    width: 100% !important  ;
    padding: 10px 0px;
  }

  .importtokendiv {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* padding: 30px 20px; */
    flex-direction: column !important;
  }

  .buttontoaddformdataunload {
    font-size: 15px;
  }

  .accountsummarycreatetitle h2 {
    font-size: 15px !important;
  }
  #backgroundgreen {
    cursor: pointer;
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 63px;
    margin: 10px 20px;
    font-size: 15px;
    width: 70%;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 385px) {
  .listdropdown {
    position: absolute;
    left: 18% !important;
    top: 58% !important;
  }
}

@media only screen and (max-width: 435px) {
  .listdropdown {
    position: absolute;
    left: 18%;
    top: 54%;
  }
}
