:root {
  --background: url("../Assets/Homepage-bg.webp");
  --background1: url("../Assets/dashboard-bg.webp");
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, rgb(23 23 72) 0%, rgb(56 13 105) 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  --sb-track-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #9272f7;
  text-align: center;
  --sb-thumb-color: white;
  --sb-size: 6px;
  margin: 0px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

button {
  line-height: normal;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 2, 72);
  max-width: 100%;
}
.app-wrapper {
  position: relative;
}

.app-wrapper.loading .App {
  visibility: hidden;
  pointer-events: none;
}

.loading {
  display: flex;
  flex-direction: row;
}

.loading__letter {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 700px) {
  .loading__letter {
    font-size: 50px;
  }
}

@media (max-width: 340px) {
  .loading__letter {
    font-size: 40px;
  }
}
.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px; /* Adjust width as needed */
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: 1000; /* Ensure it appears above other content */
}
input[type="date"]::placeholder {
  content: "date";
}
