/* .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 2, 72);
  max-width: 100%;
}

.loading {
  display: flex;
  flex-direction: row;
}

.loadingletter {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Audiowide", "Roboto", sans-serif;
  color: white;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loadingletter:nth-child(2) {
  animation-delay: 0.1s;
}
.loadingletter:nth-child(3) {
  animation-delay: 0.2s;
}
.loadingletter:nth-child(4) {
  animation-delay: 0.3s;
}
.loadingletter:nth-child(5) {
  animation-delay: 0.4s;
}
.loadingletter:nth-child(6) {
  animation-delay: 0.5s;
}
.loadingletter:nth-child(7) {
  animation-delay: 0.6s;
}
.loadingletter:nth-child(8) {
  animation-delay: 0.8s;
}
.loadingletter:nth-child(9) {
  animation-delay: 1s;
}
.loadingletter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 760px) {
  .loadingletter {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .loadingletter {
    font-size: 15px;
  }
} */
.glitchWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(33, 33, 33, 0);
}
.glitch {
  position: relative;
  /* font-size: 60px; */
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 4px;
  z-index: 1;
}
.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.glitch:before {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
    infinite;
  color: #b47dfc;
  z-index: -1;
}
.glitch:after {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #56e3bd;
  z-index: -2;
}
@keyframes glitch-color {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}
.loadingMain {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}