.maindivofdashboard {
  background: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.maindivofSendEth {
  margin: 30px 0px;
}
.headingofsamechain {
  font-weight: 700;
  font-size: 72px;
  background: -webkit-linear-gradient(#00ffff, #5fffbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.samedashmainm {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 150px !important;
  min-width: 300px;
}
.titledivdashboard h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 15px;
  margin: 20px 0px !important;
}
.titledivdashboard h1 {
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 2.2rem;
  margin: 0px;
}
.titledivdashboard {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.563);
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0px;
}
.imagesinthis img {
  border-radius: 5px;
  width: -webkit-fill-available;
}

/* Default button styles */
.menubardashboard button {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins";
  line-height: 75.1%; /* 36.984px */
  letter-spacing: 2.04px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  margin: 0px 5px;
  padding: 10px 18px;
}

/* Hover effect for buttons except when they are active */
.menubardashboard button:not(.active):hover {
  /* box-shadow: 2px 2px 15.7px 3px #00ffffb2 inset;
  color: #00ffff; */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px inset;
}

/* Active button styles */
.menubardashboard button.active {
  color: white;
  border: none;
  background: #0ff;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px inset;
}

.menubardashboard {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px inset;
  padding: 5px;
  border-radius: 5px;
  /* margin-left: 30px; */
}

.imageoption {
  width: 60px;
  height: auto;
}

#create {
  display: flex;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  align-items: center;
  justify-content: center;
}

#create:hover {
  border-radius: 63px;
  border: none;
  box-shadow: 0px 0px 14px 0px #fff;
}
#csv {
  display: flex;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  align-items: center;
  justify-content: center;
}
#csv:hover {
  border-radius: 63px;
  border: none;
  box-shadow: 0px 0px 14px 0px #fff;
}
#view {
  display: flex;
  border-radius: 63px;
  border: 1px solid #2dda8f;
  align-items: center;
  justify-content: center;
}
#view:hover {
  border-radius: 63px;
  border: none;
  box-shadow: 0px 0px 14px 0px #fff;
}
.maindivforalloptiondashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.howWorks {
  background: linear-gradient(
    90deg,
    rgba(102, 43, 187, 0.37) 0%,
    rgba(62, 18, 124, 0.37) 100%
  ) !important;
  border: 1px solid white;
  border-radius: 63px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin: 0 20px;
  padding: 10px 20px;
}
.howWorks button:hover {
  box-shadow: rgb(255 255 255 / 72%) 1px 1px 18px 0px inset;
  border: 1px solid white;
}
.dashbgImg1 {
  width: 347.141px;
  height: 321.106px;
  transform: rotate(-61.16deg);
  flex-shrink: 0;
  position: absolute;
  left: -13%;
  right: 24%;
}
.dashbgImg2 {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  position: absolute;
  bottom: -288px;
  right: 0;
}

.colortooltip .tooltipinner {
  background-color: #3498db !important; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  border-radius: 4px; /* Optional: Add rounded corners to the tooltip */
  padding: 8px 12px; /* Optional: Adjust padding as needed */
}

.colortooltip .tooltip.bstooltiptop .arrow::before {
  border-top-color: #3498db; /* Tooltip arrow color */
}

.colortooltip .tooltip.bstooltiptop .arrow::after {
  border-top-color: #3498db; /* Tooltip arrow shadow color */
}

.displayuserlistbtn:hover {
  box-shadow: rgba(2, 2, 192, 0.1) 0px 8px 24px,
    rgba(8, 8, 167, 0.1) 0px 16px 56px, rgba(4, 4, 180, 0.1) 0px 24px 80px;
  cursor: pointer;
}
.displayuserlistbtn {
  border: none;
  padding: 15px 18px;
  background: white;
  border-radius: 30px;
  color: black;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 10px;
  font-size: 25px;
  z-index: 5;
  animation: zoomAnimation 1s infinite alternate;
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* ...history css */
.popTitle {
  color: #8f00ff !important;
  font-size: 2rem;
  font-weight: 600;
  line-height: 5vh;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  margin: 20px auto;
}

.inputSearch {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 30%; /* Adjust width as needed */
  border: 1px solid #8f00ff;
}
.inputDate1:focus {
  outline: #8f00ff !important;
}
.inputSearch:focus {
  outline: #8f00ff !important;
}
.dropdown:focus {
  outline: #8f00ff !important;
}
.inputDate1 {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #8f00ff;
  border-radius: 5px;
  font-size: 1rem;
  /* Adjust width as needed */
}

.dropdown {
  padding: 0.5rem;

  border: 1px solid #8f00ff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%; /* Adjust width as needed */
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.chainSelect {
  width: 20%;
  position: relative;
}
.chainSelect select {
  appearance: none;
}
.chainSelect .chainOptions:hover {
  background-color: #1e88e5;
}
.chainSelect::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  right: 10px;
  bottom: 10px;
}
.stickyIcon {
  z-index: 0;
  position: fixed;
  bottom: 50%;
  right: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.stickyIcon a:hover .stickyIcon {
  z-index: 444;
}
.stickyIcon a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  transition: all 1.2s;
}
.stickyIcon a:hover {
  color: black;
  background-color: #00ffff;
  transform: translate(0px, 0px);
  font-weight: 600;
}

.stickyIcon2 {
  z-index: 1;
  position: fixed;
  bottom: 64%;
  right: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.stickyIcon2 a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  transition: all 1.2s;
}
.stickyIcon2 a:hover {
  color: black;
  transform: translate(0px, 0px);
  background-color: #00ffff;
  font-weight: 600;
}
.fontIcon {
  width: 1em !important;
  height: 1em !important;
}
.stickyIcon1 {
  z-index: 1;
  position: fixed;
  bottom: 57%;
  right: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.stickyIcon1 a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  transition: all 1.2s;
}
.stickyIcon1 a:hover {
  color: black;
  transform: translate(0px, 0px);
  background-color: #00ffff;
  font-weight: 600;
  z-index: 10;
}
.Instagram {
  background-color: #19153f;
  color: white;
  margin-left: 10px;
  font-weight: 600;
}
.stickyIcon a i {
  background-color: #fff;
  height: 40px;
  width: 40px;
  color: #000;
  text-align: center;

  line-height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.5s;
}
.Instagra {
  background-color: #19153f;
  color: white;
  margin-left: 10px;
  font-weight: 600;
}
.stickyIcon1 a i {
  background-color: #fff;
  height: 40px;
  width: 40px;
  color: #000;
  text-align: center;

  line-height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.5s;
}

#myBtn {
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align: center;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-circle-up {
  font-size: 30px;
}
#myBtn:hover {
  background-color: #555;
}
.driverpopover01 {
  color: white !important;
  background: linear-gradient(103deg, #6126c1 5.04%, #384cff 97.86%) !important;
}
@media only screen and (min-width: 1280) {
  .samedashmainm {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px !important;
    min-width: 900px;
  }
}
@media only screen and (max-width: 1024px) {
  .displayuserlistbtn {
    border: none;
    padding: 19px 25px;
    background: white;
    border-radius: 40px;
    color: black;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin: 10px;
    font-size: 30px;
    z-index: 5;
  }

  .titledivdashboard {
    position: relative;
  }

  .dashbgImg2 {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    bottom: -179px;
    right: 0;
  }
  .dashbgImg1 {
    width: 300px;
    height: 300px;
    transform: rotate(-61.16deg);
    flex-shrink: 0;
    position: absolute;
    left: -14%;
    right: 24%;
  }
  .divtocoversametextdiv {
    border-radius: 20px;
    /* border: 1px solid #fff; */
    background: linear-gradient(
      101deg,
      rgba(255, 255, 255, 0.31) 1.58%,
      rgba(255, 255, 255, 0.03) 98.15%
    );
    -webkit-backdrop-filter: blur(30.5px);
    backdrop-filter: blur(30.5px);
    margin: 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px inset;
    margin-bottom: 120px;
  }
  .menubardashboard button {
    padding: 10px 7px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .popup.tablediv {
    overflow-x: auto;
  }
  .popTitle {
    color: #8f00ff !important;
    font-size: 1.05rem;
    font-weight: 600;
    line-height: 4vh;
  }
  .popup.tablediv table {
    width: 100%;
    min-width: auto;
  }

  .popup.content {
    width: max-content;
    overflow-x: auto;
  }

  .popup.content table {
    width: 100%;
    min-width: 900px; /* Adjust this value based on your design */
  }
  .displayuserlistbtn {
    border: none;
    padding: 15px 18px;
    background: white;
    border-radius: 40px;
    color: black;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin: 10px;
    font-size: 20px !important;
    z-index: 5;
  }

  .dashbgImg1 {
    width: 300px;
    height: 300px;
    transform: rotate(-61.16deg);
    flex-shrink: 0;
    position: absolute;
    left: -19%;
    right: 24%;
  }
  .titledivdashboard {
    position: relative;
  }
  .imagesinthis img {
    width: 100%;
    margin: 0px 10px;
  }

  .titledivdashboard h3 {
    letter-spacing: 1px;
    padding-bottom: 15px;
  }
  .titledivdashboard {
    margin: 5px;
    font-size: 12px;
  }

  .menubardashboard {
    width: 100%;
    margin: 2px 10px;
    display: flex;
    flex-direction: column;
  }

  .menubardashboard button {
    width: 100%;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 426px) {
  .popTitle {
    font-size: 12px;
    padding: 8px;
    line-height: 2vh;
  }

  .width100 {
    width: 100% !important;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .chainSelect {
    margin: 8px 4px 0px 4px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-start;
  }
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0px;
  }
  .chainSelect::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #222;
    display: inline-block;
    right: 40px;
    bottom: 10px;
  }
  .inputSearch {
    width: 90%;

    margin-bottom: 10px;
  }
  .inputDate1 {
    width: 90%;
    margin-bottom: 10px;
  }
  .dropdown {
    width: 80%;
  }

  .dashpera {
    font-size: 15px !important;
  }
  #tableresponsive {
    overflow: scroll;
  }
  .menubardashboard button {
    width: 100%;
    margin: 5px 0;
    font-size: 15px;
  }

  .titledivdashboard h1 {
    letter-spacing: 1.5px;
    font-size: 1.6rem;
  }

  .maindivofdashboard {
    height: auto;
    width: 100%;
    margin-bottom: auto;
  }
  .titledivdashboard {
    position: relative;
  }
  .dashbgImg2 {
    width: 200px !important;
    height: 200px;
    flex-shrink: 0;
    position: absolute;
    bottom: -120px;
    right: 0;
  }
  .dashbgImg1 {
    width: 200px;
    height: 200px;
    transform: rotate(-61.16deg);
    flex-shrink: 0;
    position: absolute;
    left: -22%;
    right: 24%;
  }
}
